* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(./background_images/bg-desktop-dark.jpg);
    background-color: hsl(240, 20%, 12%);
    background-repeat: no-repeat;
    background-size: 100vw;
    min-height: 100vh;
}

body.light {
    background-color: hsl(0, 0%, 98%);
    background-image: url(./background_images/bg-desktop-light.jpg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 100vh;
}

.top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin-bottom: 1.5rem;
}

.title {
    color: white;
    font-size: clamp(2rem, 1vw + 0.25rem, 3.5rem);
    letter-spacing: 8px;
}

.title.light {
    color: black;
}

.theme_switcher {
    cursor: pointer;
}

.theme_switcher.light {
    filter: brightness(0) saturate(100%);
}

.tasks_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 45%;
}

input {
    background: hsl(235, 24%, 19%);
    color: hsl(233, 11%, 84%);
    border: none;
    outline: none;
    width: 45vw;
    padding: 1.5rem 1rem 1.5rem 5rem;
    font-size: clamp(1rem, 0.75vw + 0.25rem, 1.5rem);
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
}

input.light {
    background: white;
    color: hsl(234, 11%, 52%);;
}

.task {
    background: hsl(235, 24%, 19%);
    color: hsl(233, 11%, 84%);
    border: none;
    outline: none;
    padding: 1.5rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsl(233, 14%, 35%);
    border-radius: 0.25rem;
    cursor: move;
}

.task.light {
    background: white;
    color: hsl(234, 11%, 52%);
    border-bottom: 1px solid hsl(233, 11%, 84%);
}

.task_content_container {
    display: flex;
    align-items: center;
}

.task_name {
    font-size: clamp(1rem, 0.75vw + 0.25rem, 1.5rem);
    cursor: pointer;
}

.toggle_task_completed {
    margin-right: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: none;
    border: 1px solid hsl(233, 14%, 35%);
    transition: 0.5s;
    cursor: pointer;
}

.toggle_task_completed.light {
    border: 1px solid hsl(233, 11%, 84%);
}

.toggle_task_completed:hover {
    border: 1px solid hsl(220, 98%, 61%);
}

.task[data-completed="true"] .toggle_task_completed {
    transition: 0s;
    background-image: url(./background_images/icon-check.svg), linear-gradient(90deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
}

.task[data-completed="true"] .task_name {
    text-decoration: line-through;
    color: hsl(234, 11%, 52%);
    cursor: pointer;
}

.task.light[data-completed="true"] .task_name {
    color: hsl(233, 11%, 84%);
}

.delete_task_image {
    display: none;
    cursor: pointer;
}

.task:hover .delete_task_image {
    display: block;
}

.task_metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    padding: 0 1.5rem;
    background: hsl(235, 24%, 19%);
    color: hsl(234, 11%, 52%);
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
}

.task_metadata.light {
    background: white;
}

.tasks_remaining {
    font-size: clamp(1rem, 0.5vw + 0.125rem, 1.5rem);
}

.filters_section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(235, 24%, 19%);
    padding: 1.5rem 0.25rem;
    column-gap: 1.5rem;
    font-size: clamp(1rem, 0.75vw + 0.25rem, 1.75rem);
    border-radius: 0.25rem;
}

.filters_section.light {
    background: white;
}

.remove_completed {
    cursor: pointer;
    transition: 0.5s;
    font-size: clamp(1rem, 0.5vw + 0.125rem, 1.5rem);
}

.remove_completed:hover {
    color: hsl(236, 33%, 92%);
}

.remove_completed.light:hover {
    color: hsl(235, 19%, 35%);
}

.mobile {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
}

.filter {
    color: hsl(234, 11%, 52%);
    cursor: pointer;
    transition: 0.5s;
}

.filter:hover {
    color: hsl(236, 33%, 92%);
}

.filter.light:hover {
    color: hsl(235, 19%, 35%);
}

.filter.chosen {
    color: hsl(220, 98%, 61%);
}

.bottom_section {
    color: hsl(233, 14%, 35%);
    margin-top: 3rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    padding-bottom: 2vh;
}

.attribution a {
    color: white;
}

.attribution.light, .attribution a.light {
    color: black;
}

@media screen and (max-width: 1000px) {
    body {
        background-image: url(./background_images/bg-mobile-dark.jpg);
    }

    body.light {
        background-image: url(./background_images/bg-mobile-light.jpg);
    }

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    .tasks_section, .top_section, .task_metadata, .mobile{
        width: 85%;
    }

    input {
        width: 85vw;
    }

    .task_metadata {
        padding: 1.5rem 1rem;
    }
}